@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  @apply h-full snap-y;
}

em {
  @apply not-italic;
}

.kor *.en {
  @apply hidden !important;
}
.eng *.ko {
  @apply hidden !important;
}
#__nuxt,
#__layout,
#wrap {
  @apply h-full snap-y;
}

/*  ======================== main ========================  */
.mainTopTitle {
  @apply flex flex-col items-center text-center;
}
.mainTopTitle em {
  @apply text-indigo-500 block text-[14px] font-bold leading-[21px] tracking-[-0.154px];
}
.mainTopTitle strong {
  @apply block text-neutral-900 font-bold tracking-[-0.33px] text-[30px];
}
.mainTopTitle span {
  @apply block text-neutral-900 font-bold text-[16px] tracking-[-0.33px] mt-[-10px];
}
.mainTopTitle.use-bg strong {
  @apply text-white leading-[38px];
}
.mainTopTitleGuide {
  @apply block text-center;
}
.mainTopTitleGuide span {
  @apply text-[16px] font-light leading-6 block tracking-[-0.176px];
}
.mainTopTitleGuide span em {
  @apply text-indigo-500;
}

.MainPage__splide .swiper-slide {
  @apply w-[256px] h-[246px] bg-gray-100 rounded-[12px] overflow-hidden;
}
.MainPage__splide .swiper-slide.non-bg {
  @apply bg-white;
}
.MainPage__splide .swiper-slide > div {
  @apply w-[206px] h-[196px]  flex flex-col justify-between mx-[25px] my-[25px];
}
.MainPage__splide .swiper-slide div .txt {
  @apply block w-full;
}
.MainPage__splide .swiper-slide div .txt strong {
  @apply block text-[16px] font-bold leading-6 tracking-[-0.176px] text-neutral-900;
}
.MainPage__splide .swiper-slide div .txt.en strong {
  @apply text-[13px];
}
.MainPage__splide .swiper-slide div .txt span {
  @apply block text-[14px] font-light tracking-[-0.154px] text-neutral-900 mt-[6px];
}
.MainPage__splide .swiper-slide div .txt.en span {
  @apply text-[11px];
}
.MainPage__splide .swiper-slide div .vi {
  @apply flex justify-end bg-blend-multiply w-full h-[100px] bg-right-bottom bg-gray-100;
}

.MainPage__splide .swiper-slide.non-bg div .vi {
  @apply bg-white;
}
.MainPage__splide .swiper-slide.rm {
  @apply w-[273px] h-[226px] bg-white;
}
.MainPage__splide .swiper-slide.rm > div {
  @apply w-full h-[226px] flex flex-col justify-between m-0 gap-0;
}
.MainPage__splide .swiper-slide.rm div .vi {
  @apply h-[140px] bg-center bg-white;
}
.MainPage__splide .swiper-slide.rm div .txt {
  @apply flex w-full h-[86px] items-center justify-center bg-gray-100 text-center;
}
.splide:not(.is-overflow) .swiper-pagination {
  @apply flex;
}
.MainPage__splide .swiper-pagination {
  @apply relative flex justify-center w-full mt-[30px];
}
.MainPage__splide .swiper-pagination .swiper-pagination-bullet {
  @apply w-1 h-1.5 rounded-full bg-zinc-500 p-0 bg-opacity-100;
}
/* .MainPage__splide.lbs__splide .swiper-pagination .swiper-pagination-bullet {
  @apply w-1 h-1 rounded-full bg-white p-0 bg-opacity-100;
} */
.MainPage__splide .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#5368FF] w-5 h-1.5 rounded-[5px] opacity-100 !important;
}

.mainTopCardSlider {
  @apply w-full;
}

.MainNewsList {
  @apply block w-full px-4;
}
.MainNewsList .list {
  @apply w-full flex flex-col py-3 border-t-[1px] border-gray-200;
}
.MainNewsList .list:first-child {
  @apply border-t-0;
}
.MainNewsList .list .top {
  @apply block truncate w-full text-[16px] text-black font-light leading-6 tracking-[-0.176px];
}
.MainNewsList .list .btm {
  @apply flex w-full h-5 items-center;
}
.MainNewsList .list .btm span {
  @apply text-[12px] text-neutral-400;
}
.TopTitleButton {
  @apply block w-full px-4;
}
.TopTitleButton button {
  @apply w-full h-10 items-center flex justify-between;
}
.TopTitleButton button strong {
  @apply text-black text-[26px] font-bold tracking-[-0.286px];
}

/*  ======================== Menu ========================  */
.ch-lang {
  @apply fixed top-[50px] w-full max-w-xl mx-auto py-[13px] flex items-center justify-end px-5 gap-1 bg-white z-20 border-b-[1px] border-[#F0F0F0];
}

.ch-lang button {
  @apply border-[1px] border-zinc-300 text-zinc-300 rounded-[4px] opacity-80 text-[10px] font-Inter w-6 tracking-[-0.11px];
}
.ch-lang button.active {
  @apply border-indigo-500 text-indigo-500;
}
.globalNavigation {
  @apply w-full;
}
.globalNavigation .mn {
  @apply w-full min-h-[60px] border-b-[1px] border-gray-200 block;
}
.globalNavigation .depth1 {
  @apply flex px-5 h-[60px] items-center justify-between w-full;
}
.globalNavigation .depth1 svg {
  transform: rotate(0deg);
  transition: ease 0.35s;
}
.globalNavigation .active .depth1 svg {
  transform: rotate(-180deg);
  transition: ease 0.35s;
}
.globalNavigation .depth2 {
  @apply hidden flex-col items-start h-0 gap-[10px] px-5 py-[15px] bg-gray-100 opacity-0;
}
.globalNavigation .active .depth2 {
  @apply flex h-auto transition-all duration-700 opacity-100;
}
.globalNavigation .depth2 .depth2Part {
  @apply flex flex-col w-full items-start pb-[18px] gap-2.5;
}
.globalNavigation .depth2 .depth2Part:last-child {
  @apply pb-0;
}

/*  ======================== 기업소개 공통 ========================  */
#aboutus {
  @apply w-full pt-[50px];
}
#aboutus .title {
  @apply flex flex-col items-center gap-[6px];
}
#aboutus .title span {
  @apply text-[12px] tracking-[-0.132px] leading-4 text-zinc-400;
}
#aboutus .title strong {
  @apply leading-[48px] text-[32px] font-bold tracking-[-0.352px] text-neutral-900;
}
#aboutus .visual {
  @apply w-full mt-[50px];
}
#aboutus .text {
  @apply w-full pt-[60px];
}
#aboutus .text .tit {
  @apply w-full relative px-10;
}
#aboutus .text .tit > span {
  @apply text-neutral-900 text-[24px] leading-9 tracking-[-0.264px] inline
  before:absolute before:top-10 before:left-2.5 before:z-[-1] before:content-['“'] before:text-[128px] before:text-gray-200 before:tracking-[-1.408px]
  after:absolute after:content-['”'] after:text-[128px] after:text-gray-200 after:tracking-[-1.408px] after:z-[-1] after:bottom-[-68px];
}
#aboutus .text .txt {
  @apply w-full mt-[50px] px-5;
}
#aboutus .text .txt span {
  @apply text-[#444] text-[16px] leading-6 tracking-[-0.176px];
}

.content {
  @apply w-full mt-10;
}
.history_slide .swiper-pagination {
  @apply sticky top-[82px] flex w-full shadow-[0px_4px_4px_0px_rgba(0,0,0,0.05)] bg-white;
}
.history_slide .swiper-pagination .swiper-pagination-bullet {
  @apply w-1/3 h-[50px] bg-transparent rounded-none py-[14px_17px] flex justify-center items-center font-normal text-[16px] text-[#9395a1] opacity-100;
}
.history_slide .swiper-pagination .swiper-pagination-bullet span {
  @apply font-light;
}
.history_slide .swiper-pagination .swiper-pagination-bullet-active {
  @apply text-[#141414];
}
.history_slide .swiper-pagination .swiper-pagination-bullet-active span {
  @apply relative font-normal after:absolute after:w-full after:bottom-[-14px] after:left-0 after:h-[1px] after:bg-[#141414];
}
.history_slide .swiper-wrapper {
  @apply bg-[#fafafc];
}
.history_slide .swiper-wrapper .swiper-slide {
  @apply bg-[#fafafc] min-h-[900px] w-full relative;
}
.history_line {
  @apply absolute left-[9999em] w-full bg-[#fafafc] p-[30px_20px_60px_22px] h-fit flex flex-col justify-start items-start gap-[60px]
  after:absolute after:content-[''] after:w-[1px] after:h-full after:top-0 after:left-[26px] after:bg-[#d3d4d6];
}
.history_slide .swiper-wrapper .swiper-slide-active .history_line {
  @apply relative left-0;
}
.history_line .years {
  @apply w-full pl-[27px] flex flex-col gap-5 relative;
}
.history_line .years strong {
  @apply text-[20px] leading-5 text-[#141414] font-bold pb-[17px];
}
.history_line .years .month {
  @apply flex gap-6 w-full items-start relative;
}
.history_line .years .month em {
  @apply text-[16px] h-5 leading-5 text-[#141414] block 
  before:content-[''] before:z-20 before:absolute before:top-1 before:left-[-27px] before:w-[9px] before:rounded-full before:bg-white before:h-[9px] before:bg-[url('~/assets/image/bullet.svg')] bg-cover;
}
.history_line .years .month span {
  @apply text-[14px] text-[#444] leading-5 tracking-[-0.154px] block min-h-[20px];
}
